<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>social-news-site</title>
  </head>

  <body>
    <p>
      <a href="{{ url_for('threads_index') }}">threads</a>
      <a href="{{ url_for('threads_form') }}">submit</a>
      {% if current_user.is_authenticated %}
        logged in as {{ current_user.username }}
        <a href="{{ url_for('auth_logout') }}">log out</a>
      {% else %}
        <a href="{{ url_for('auth_login') }}">log in</a>
        <a href="{{ url_for('auth_register') }}">register</a>
      {% endif %}
    </p>
    {% block body %} {% endblock %}
  </body>
</html>