{% extends "layout.html" %}

{% block body %}
  <div class="post">
          {% if post.is_text %}
            <span class="content">{{ post.title }}</span></br>
            {{ post.upvotes }} points by {{ post.author.username }} 
            {{ moment(post.date_created).fromNow() }}</br>
            <p class="content">{{ post.content }}</p>
          {% else %}
            <a class="content" href={{ post.content }}>{{ post.title }}</a></br>
            {{ post.upvotes }} points by {{ post.author.username }} 
            {{ moment(post.date_created).fromNow() }}
          {% endif %}
  </div>
  {% if post.author == current_user %}
    <div class=container-row>
      <form action="{{ url_for('posts_edit', post_id=post.id) }}">
        <input type="hidden" value="edit"/>
        <button type="submit" value="edit" class="button">edit</button>
      </form>
      <form method="POST" action="{{ url_for('posts_delete', post_id=post.id) }}">
        <input type="hidden" value="delete"/>
        <button type="submit" value="delete" class="button">delete</button>
      </form>
    </div>
  {% endif %}
  <form method="POST" action="{{ url_for('posts_comment', post_id=post.id) }}">
    {{  form.content.label }} </br>
    {{ form.content }} 

    {% for error in form.content.errors %} 
    {{ error }}
    {% endfor %}</br>
    <input type="hidden" value="submit"/>
    <button type="submit" value="submit" class="button">submit</button>
  </form>
  <div class="container-col">
    {% for comment in comments %}
    <div class="container-row">
      <div class="post">
      {{ comment.author.username }} {{ moment(comment.date_created).fromNow() }}</br>
      <div class="content">{{ comment.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}