{% extends "layout.html" %}

{% block body %}
  <div class="container-col">
    {% for post in posts %}
      <div class="container-row">
        <div class="numbering">
          1.
        </div>
        <div class="upvote">
          <form method="POST" action="{{ url_for('posts_upvote', post_id=post.id) }}">
            <input type="hidden" value="upvote"/>
            <button type="submit" value="upvote" class="upvote-button">▲</button>
          </form>
        </div>
        <div class="post">
          {% if post.is_text %}
            <a class="content" href="{{ url_for('posts_comments', post_id=post.id) }}">{{ post.title }}</a>
          {% else %}
            <a class="content" href={{ post.content }}>{{ post.title }}</a>
          {% endif %}</br>
          {{ post.upvotes }} points by {{ post.author }}
          {{ moment(post.date_created).fromNow() }} | 
          <a class="comment-link" href="{{ url_for('posts_comments', post_id=post.id) }}">
            {% if post.comments == 0 %}
              discuss
            {% elif post.comments == 1 %}
              {{post.comments}} comment
            {% else %}
              {{post.comments}} comments
            {% endif %}
          </a>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}