{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('posts_create') }}">
  <div class="container-col">
    <div class="container-row">
      <label>{{  form.title.label }}</label>
      <div>{{ form.title }}</div>
      <div>
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      </div>
    </div>
    <div class="container-row">
      <label>{{ form.url.label }}</label>
      <div>{{ form.url }}</div>
      <div>
        {% for error in form.url.errors %}
          {{ error }}
        {% endfor %}
      </div>
    </div>
    <div class="container-row">or</div>
    <div class="container-row">
      <label>{{ form.text.label }}</label>
      <div>{{ form.text }}</div>
      <div>
        {% for error in form.text.errors %}
          {{ error }}
        {% endfor %}
      </div>
    </div>
  </div>
  <input class="button" type="submit" value="submit"/>
</form>
{% endblock %}