{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('posts_create') }}">
  {{  form.title.label }} {{ form.title }} 

  {% for error in form.title.errors %} 
  {{ error }}
  {% endfor %}</br>

  {{ form.url.label }} {{ form.url }}

  {% for error in form.url.errors %} 
  {{ error }}
  {% endfor %}</br>
  or</br>
  {{ form.text.label }} {{ form.text }}

  {% for error in form.text.errors %} 
  {{ error }}
  {% endfor %}</br>
  <input class="button" type="submit" value="submit"/>
</form>
{% endblock %}