{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th></th>
      <th>Upvotes</th>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
    </tr>
    {% for thread in threads %}
    <tr>
      <td>
        <form method="POST" action="{{ url_for('threads_upvote', thread_id=thread.id) }}">
          <input type="submit" value="upvote"/>
        </form>
      </td>
      <td>{{ thread.upvotes }}</td>
      <td>{{ thread.title }}</td>
      <td>{{ thread.author.username }}</td>
      <td>
        {% if thread.is_text %}
          {{ thread.content }}
        {% else %}
          <a href={{ thread.content }}>{{ thread.content }}</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}