{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('auth_register') }}">
	{{ form.username.label }} {{ form.username }}   {% for error in form.username.errors %} 
  {{ error }}
  {% endfor %}<br/>
  {{ form.password.label }} {{ form.password }}   {% for error in form.password.errors %} 
  {{ error }}
  {% endfor %}<br/>
  {{ form.confirm_password.label }} {{ form.confirm_password }}  {% for error in form.confirm_password.errors %} 
  {{ error }}
  {% endfor %}<br/>
	<input type="submit" value="register"/>
</form>
{% endblock %}